$text-colour: #333;
$link-colour: #1b98f8;

body {
    color: $text-colour;
}

a {
    text-decoration: none;
    color: $link-colour;
}

.nodes {
    margin-left: 1em;
    margin-right: 1em;

    .node {
        margin-bottom: 0.5em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        border: 2px solid black;
        border-radius: 5px;
    }
}
