@import "palette";

.heading, .nodes {
    padding-left: 1em;
    padding-right: 1em;
}

.heading {
    background-color: $primary-color;
    color: $primary-color-text;
    box-shadow: 0 0 1em $divider-color;
    z-index: 1;
}

.nodes {
    color: $primary-text-color;

    .node {
        border-bottom: 1px solid $divider-color;

        .info {
            color: $secondary-text-color;
        }

        .pure-button-primary {
            background-color: $accent-color;
        }
    }
}
